MODE=TEST
LOG_LEVEL=INFO

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_library_db

SECRET_KEY=TznfBbRlUYwIOuPa1znm5CcfvqKdtVQC7+L7TKtDFRc=
ALGORITHM=HS256
